.dashboard{
    display: flex;

}

/* dashboard-left */
.dashboard-left{
    width: 300px;
    min-height: calc(100vh - 70px);
}
.dashboard-left a{
    display: block;
    padding: 10px 20px;
    color: #fff;
    transition: .3s ease;
    font-size: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.178);
    border-top: 1px solid rgba(255, 255, 255, 0.178);
}

.dashboard-left a:hover{
    letter-spacing: 2px;
    background-color: rgba(255, 255, 255, 0.178);
}

.dashboard-left a.active{
    background-color: rgba(255, 255, 255, 0.178);
}


/* dashboard-right */
.dashboard-right{
    background-color: rgba(13, 3, 24, 0.144);
    width: 100%;
}