img{
    max-width: 100%;
}
a, a:hover{
    text-decoration: none;
}

.cursor-pointer{
    cursor: pointer;
}

.center{
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}